py-turbo
avi-r
moviepy
webcolors
munkres
dill
lap
cython_bbox
pycocotools
retrying
einops
pillow-simd
decord
test_tube
detectron2
-f https://dl.fbaipublicfiles.com/detectron2/wheels/cu101/torch1.6/index.html
